@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-sans: "Outfit", "OutfitStatic", sans-serif;
  --font-young-serif: "Young Serif", sans-serif;

  --color-*: initial;
  --color-white: oklch(100% 0 106.37);
  --color-stone-100: oklch(93.07% 0.0238 67.53);
  --color-stone-150: oklch(90.32% 0.0104 67.69);
  --color-stone-600: oklch(46.13% 0.0178 67.36);
  --color-stone-900: oklch(30.12% 0.0052 56.2);
  --color-brown-800: oklch(46.71% 0.092 37.71);
  --color-rose-800: oklch(41.41% 0.1222 354.94);
  --color-rose-50: oklch(97.89% 0.012761948380378077 345.4816973663777);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-young-serif;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  td:last-child {
    @apply text-brown-800;
  }

  h1 {
    @apply text-4xl text-stone-900;
  }

  h2 {
    @apply text-2xl;
  }

  b {
    @apply font-bold;
  }

  ol,
  ul {
    @apply list-outside space-y-3 pl-6 marker:text-sm marker:text-brown-800;
  }

  ol {
    @apply list-decimal marker:font-bold;
  }

  ul {
    @apply list-[square];
  }

  li {
    @apply pl-4;
  }

  caption {
    @apply text-left;
  }

  td {
    @apply px-6 py-4;
  }

  td:last-child {
    @apply font-bold;
  }

  tr:not(:last-child) {
    @apply border-b border-stone-150;
  }
}
